.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
  }
  /* styles.css or your component's CSS file */
.mat-sidenav {
  width: 300px; /* adjust the width as per your requirement */
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
